@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding: 0px;
}
*{
	box-sizing:border-box;
	scroll-behavior: smooth;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#main{
	width:100%;
	height:100vh;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF;
}
.logo img{
	height:80px;
}
nav ul{
	display: flex;
}
nav ul li a{
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#585b5b;
	letter-spacing: 1px;
}

nav ul li a:hover{
	background-color: #e9e9e9
	color:#FFFFFF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: all ease 0.2s;
}

.portfolio-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #a83c48;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.portfolio-btn:hover{
	background-color: #ca4a58;
	transition: all ease 0.2s;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
}